@charset "utf-8";

@font-face {
    font-family: "Caveat";
    src:
        url("./fonts/Caveat-Bold.woff2") format("woff2");
}

/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap'); */

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.header-inner a,
.footer a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    /* color: #fff; */
    text-decoration: none;
}

.header-inner a:after,
.footer a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
}

.header-inner li a:after {
    background-color: #000;
    margin-bottom: -1px;
}

.footer li a:after {
    background-color: #fff;
    margin-bottom: -1px;
}

.header-inner li a:hover:after,
.footer li a:hover:after {
    transform: translate(0, 0);
}


body {
    /* font-family: sans-serif; */
    font-size: 16px;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

.header-inner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1571c2;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); */
}

.toggle-menu-button {
    display: none;
}

.header-logo {
    font-family: "Caveat", cursive;
    font-size: 50px;
    font-weight: bold;
    display: block;
    width: 170px;
}


.site-menu ul {
    display: flex;
}

.site-menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer {
    color: #ffffff;
    background-color: #1571c2;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer-logo {
    font-family: "Caveat", cursive;
    font-size: 90px;
    font-weight: bold;
    display: block;
    margin-top: 90px;
}



.copyright {
    font-size: 14px;
    font-weight: bold;
    margin-top: 90px;
}

@media (max-width: 800px) {
    .site-menu ul {
        display: block;
        text-align: center;
    }

    .site-menu li {
        margin-top: 20px;
    }

    .header {
        position: fixed;
/*         position:sticky; */
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        height: 50px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .header-inner li a:after {
        background-color: #fff;
    }

    .header-inner {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }

    .header-logo {
        font-size: 30px;
        width: 100px;
    }

    .header-site-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: rgba(21, 113, 194, 0.9);
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }

    .header-site-menu.is-show {
        display: block;
    }

    .toggle-menu-button {
        display: block;
        width: 44px;
        height: 34px;
        background-image: url(../images/common/icon-menu.webp);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
        cursor: pointer;
    }

    .main {
        padding-top: 50px;
    }

    .footer-logo {
        font-size: 90px;
        margin-top: 60px;
    }



    .copyright {
        margin-top: 50px;
    }
}
