--sub-color: #da516aaf;
  --sub-hover-color: #da516b;
  --theme-color: #e985a0;
  --first-view-color: rgba(255, 254, 232, 0.01);
  --background-color: #fffee8;
  --text-color: #605042;
  --bg-myprogram: #fffee8;
  --bg-about:#fffdda;
  --bg-video:#fffdd1;
/*
  --sub-color: #b7282e;
  --sub-hover-color: #992228;
*/

@media (prefers-color-scheme: dark) {
  body:not(.light-mode) {
    --header-background-color: #414141;
    --background-color: #414141;
    --text-color: #eee;
    --bg-myprogram: #333333;
    --bg-about: #2e2e2e;
    --bg-video: #48544d;
    --theme-color: #199119;
    --sub-color: #9c7a00;
    --sub-hover-color: #614c00;
    --result-details-text-color: #bcbcbc;
  }
}
