@charset "utf-8";

@import url('./cursor.css');

@font-face {
    font-family: "Noto Sans JP";
    src:
        url("./fonts/NotoSansJP-Bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
        url("./fonts/Montserrat-Bold.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
}




.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/index/bg-main-02.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.first-view-text h1 {
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}

.leadbox {
    background-color: #ebebeb;
    padding-top: 40px;
    padding-bottom: 40px;
}

.lead p {
    line-height: 2;
    text-align: center;
}

.lead h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}

.lead h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.link-button-area {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.link-button {
    /* background-color: #ff5283; */
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    font-size: 14px;
    /* animation: hover 0.7s ease forwards; */
    animation: hover 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* .link-button:hover {
    background-color: #bf1948;
} */

.link-button:hover {
    /* animation: nothover 0.7s ease forwards; */
    animation: nothover 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes hover {
    0% {
        background-color: #bf1948;

    }

    100% {
        background-color: #ff5283;
    }
}

@keyframes nothover {
    0% {

        background-color: #ff5283;
    }

    100% {

        background-color: #bf1948;
    }
}



.recommended {
    background-color: #fafafa;
    padding-bottom: 55px;
}

.recommended h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.recommended h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.copyright2 {
    background-color: #fafafa;
    margin-right: auto;
    padding-bottom: 40px;
}

.copyright2 p {
    text-align: right;
    margin-right: 10px;
}

.item-list {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll;
}

.item-list li {
    flex-shrink: 0;
    width: 260px;
    margin-left: 75px;
}

.item-list li:first-child {
    margin-left: 0;
}

.item-list li {
    transition: transform 0.3s ease;
}

.item-list li:hover {
    transform: scale(1.05);
}


.item-list dl {
    margin-top: 20px;
}

.item-list dt {
    font-weight: bold;
}

.item-list dd {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
}

.item-list .price {
    font-weight: bold;
    margin-top: 15px;
}

@media (max-width:800px) {
    .first-view {
        height: calc(100vh - 50vh);
        background-image: url(../images/index/bg-main-sp-02.webp);
    }

    .first-view-text {
        padding-top: 60px;
        padding-left: 20px;
    }

    .first-view-text h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .first-view-text p {
        font-size: 14px;
        margin-top: 15px;
    }

    .lead {
        padding-left: 20px;
        padding-right: 20px;
    }

    .lead p {
        text-align: left;
    }

    .item-list li {
        width: 220px;
        margin-left: 30px;
    }
}
