@import url("defolt.css");
@import url("./cursor.css");
/*:root { */
/*    !*--bg-myprogram: #fafafa;*! */
/*    !*--bg-about:#ebebeb;*! */
/*    --bg-myprogramm: #003a28; */
/*    --bg-about: #013525; */
/*} */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap'); */
body {
  overflow-x: hidden;
}

.first-view {
  height: calc(100vh - 65px);
  background-image: url(../images/index/bg-main-02.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.first-view-text {
  width: 100%;
  /* max-width: 1600px; */
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-bottom: 80px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 7px 7px 15px rgb(0, 0, 0);
}
.first-view-text h1 {
  /* font-family: 'Montserrat', 'Noto Sans JP', sans-serif; */
  font-size: 56px;
  line-height: 72px;
}

.lead {
  max-width: 1600px;
  margin: 60px auto;
}

.leadbox {
  background-color: var(--bg-about);
  padding-top: 40px;
  padding-bottom: 40px;
}

.lead p {
  line-height: 2;
  text-align: center;
}
.lead h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}
.lead h2::after {
  content: "";
  display: block;
  width: 36px;
  height: 3px;
  background-color: var(--text-color);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.link-button-area {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recommended {
  background-color: var(--bg-myprogram);
  padding-bottom: 55px;
}
.recommended h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.recommended h2::after {
  content: "";
  display: block;
  width: 36px;
  height: 3px;
  background-color: var(--text-color);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.copyright2 {
  background-color: var(--bg-myprogram);
  margin-right: auto;
  padding-bottom: 40px;
}
.copyright2 p {
  text-align: right;
  margin-right: 10px;
}

.item-list {
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: scroll;
  overflow-y: hidden;
}
.item-list li {
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
}

.item-list li:first-child {
  margin-left: 0;
}
.item-list img {
  width: 260px;
  height: 260px;
  transition: transform 0.3s ease-in-out;
}
.item-list img:hover {
  transform: scale(1.2);
}

.li-image-box {
  width: 260px;
  height: 260px;
  overflow: hidden;
  /* margin-left: 75px; */
}

.moreprograms-imgase {
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
.moreprograms-imgase:hover {
  transform: scale(1.2);
}

.item-list dl {
  margin-top: 20px;
}
.item-list dt {
  font-weight: bold;
}
.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}
.item-list .price {
  font-weight: bold;
  margin-top: 15px;
}

.hot, .game {
  padding-left: 3px;
  font-size: 10px;
  font-weight: bold;
}

.hot {
  color: #ff0000;
}

.game {
  color: rgba(255, 0, 0, 0.7);
}

.fire, .new-image {
  width: 13px !important;
  height: 13px !important;
  vertical-align: bottom;
}

@media (max-width: 800px) {
  .first-view {
    height: 50vh;
    background-image: url(../images/index/bg-main-sp-02.webp);
  }
  .first-view-text {
    padding-top: 60px;
    padding-left: 20px;
  }
  .first-view-text h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .first-view-text p {
    font-size: 14px;
    margin-top: 15px;
  }
  .lead {
    padding-left: 20px;
    padding-right: 20px;
  }
  .lead p {
    text-align: left;
  }
  .item-list li {
    width: 220px;
    margin-right: 30px;
  }

.first-view-text-p {
  padding-top: 10px;
}
  .loginiframe {
    display: none;
  }
}