.original-box-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-size: 30px;
    width: 300px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  }

.logo-box {
    margin-top: 20vh;
}

.logo {
    text-align: center;
    font-size: 7vw;
    display: block;
    font-weight: 700;
    color: var(--theme-color);
}

.logo:hover {
    text-decoration: underline;
}


.search-container {
    margin-top: 5vh;
    text-align: center;
}

#search-input {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height:45px;
    border-radius: 50px;
    max-width: 800px;
    padding-left: 10px;
    font-size: 20px;
    border: #333 solid 1px;
}
.search-input-suggestions-box {
    margin:5px auto 15px auto;
    width: 75vw;
    height:45px;
    border-radius: 50px;
    max-width: 800px;
    padding-left: 10px;
}

#search-input-suggestions {
    text-align: left;
}

li {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

li:hover {
    cursor: pointer;
}