/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap'); */
@import url('../../../css/fonts.css');
@import url('../../../css/defolt.css');

body {
    font-family: "Montserrat", "Noto Sans JP", serif;
    font-size: 20px;
}

.tyui {
    color: #f00;
    font-size: 30px;
}

.reset {
    font-size: 25px;
}

.buttons {
    margin: 10px 10px;
    /* margin-top: 10px; */
}

.setumei {
    margin: 10px 10px;
    padding: 20px 10px;
    height: 73vh;
    /* overflow-y: scroll; */
    overflow: auto;

    background-color: #fff;
    color: #000;

    /*border-radius: 10px;*/
}

.setumei img {
    margin-right: 5px;
}

.button {
    color: var(--text-color);
    cursor: pointer;
    border-style: none;
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    font-size: 14px;
    animation: hover 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    margin-bottom: 10px;
    margin-right: 10px;
}

.button:hover {
    /* animation: nothover 0.7s ease forwards; */
    animation: nothover 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.footer {
    margin-top: 100px;
}

@keyframes hover {
    0% {
        background-color: var(--pink-hover-color);

    }

    100% {
        background-color: var(--pink-color);
    }
}

@keyframes nothover {
    0% {
        background-color: var(--pink-color);

    }

    100% {
        background-color: var(--pink-hover-color);

    }
}

@media (max-width:800px) {
    .setumei {
        margin: 70px 10px;
        height: 63vh;
    }
}