body {
    display: flex;
    justify-content: center;  /* 水平方向の中央揃え */
    align-items: center;      /* 垂直方向の中央揃え */
    height: 100vh;            /* ビューポートの高さを100%に */
    margin: 0;                /* デフォルトのマージンを削除 */
}

/* すべての画像に適用するスタイル */
img {
    cursor: pointer;
    overflow: hidden;
    transition: transform .6s ease; /* ゆっくり変化させる */
}

/* 画像がホバーされたときのスタイル */
img:hover {
    transform: scale(1.1); /* 拡大 */
}



.img {
    perspective: 1000px;
}

.img {
    width: 300px;
    transition: transform 0.1s;
}
