body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;                
}

/* すべての画像に適用するスタイル */
img {
    cursor: pointer;
    overflow: hidden;
    /*transition: transform .6s ease;  ゆっくり変化させる */
}

/* 画像がホバーされたときのスタイル */
img:hover {
    transform: scale(1.1); /* 拡大 */
}



.img {
    perspective: 1000px;
}

.img {
    width: 300px;
    transition: transform 0.1s;
}
