*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    /* 余白をなくす */
    height: 101vh;
    /* 縦全体に対応 */
    background-image: url("images/background/2.jpg");

    /* 画像パスを指定 */
    background-repeat: no-repeat;
    /* 繰り返しを防止 */
    background-position: center 45px;
    /* 画像を中央に配置 */
    background-size: auto 100%;
    /* 横幅は自動調整し、縦方向を画面全体に拡大 */

    overflow-y: hidden;
}

.ui {
    margin-top: 6px;
}

.ui .close {
    margin-left: 10px;
}