#fps {
    /* font-size: 10px; */
}

.score{
    font-size: 30px !important;
}

.red {
    color: #f00;
}

#GameOver {
    display: none;
}

#GameOver.gameover {
    display: block;
}

.started{
    display: none !important;
}

.top {
    margin-left: 60px;
}

.controlbuttom {
    display: flex;
}

.controlbutton,
.controlbuttonbuttom {
    min-width: 60px !important;
}

.controlbuttonbuttom {
    margin-top: 0px !important;

}