#fps {
  /* font-size: 10px; */
}

.score {
  font-size: 30px !important;
}

.red {
  color: #f00;
}

#GameOver {
  display: none;
}

#GameOver.gameover {
  display: block;
}

.started {
  display: none !important;
}

.top {
  margin: 0 0 5px 65px !important;
}

.control {
  margin-bottom: 10px;
}

.controlbuttom {
  display: flex;
}

.controlbutton,
.controlbuttonbuttom {
  min-width: 55px !important;
}

.controlbuttonbuttom {
  margin-top: 0px !important;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.one-player {
  color: #4878de;
}

.two-player {
  color: #fdc52e;
}

.time {
  font-size: 20px;
}

@media (max-width: 800px) {
  .top {
    margin-left: 0px;
  }
}
