#fps {
    /* font-size: 10px; */
}

#score {
    font-size: 30px;
}

.red {
    color: #f00;
}

#GameOver {
    display: none;
}

#GameOver.gameover {
    display: block;
}

#startbutton.started {
    display: none;
}