body {
              margin: 0;
              overflow: hidden; /* スクロールバーを隠す */
            }
            canvas {
              display: block; /* canvasをブロック要素に */
              position: fixed;
              top: 0;
              left: 0;
              z-index: -1; /* canvasを背景に */
            }
