@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@font-face {
    font-family: 'FortniteSmall';
    src: url('https://daihachi10.github.io/assets/fonts/burbanksmall-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FortniteBig';
    src: url('https://daihachi10.github.io/assets/fonts/burbankbigregular-black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Japanese';
    src: url('https://daihachi10.github.io/assets/fonts/japanese.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.ud, .google-btn, .startButton, h2, h4 {
      font-family: "FortniteSmall", "M PLUS 1p", "Mochiy Pop One", "Japanese", "UD デジタル 教科書体 NK-R", "HG創英角ｺﾞｼｯｸUB", "Meiryo UI", "MS UI Gothic", sans-serif;
    }

.header, .title-btn, .Fn-Big {
    font-family: "FortniteBig", "M PLUS 1p", "Mochiy Pop One", "Japanese", "UD デジタル 教科書体 N-B", "HG創英角ｺﾞｼｯｸUB", "Meiryo UI", "MS UI Gothic", sans-serif;
}

.Fn-Big {
    font-size: 350%;
}
h2, h4 {
      color: #000;
      text-align: left;
    }

    body {
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #9999;
      /*color: #fff;*/
      padding: 20px;
      text-align: center;
      position: fixed;
      width: 100%;
      top: 0;
    }

    .header-title {
      color: #828B9C;
      text-align: center;
      text-size: 500px;
    }


    main {
      margin-top: 100px;
    }

    section {
      margin: 20px 0;
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
    }

    p {
      font-size: 20px;
      line-height: 1.5;
    }

    nav {
      display: flex;
      justify-content: space-around;
    }

    nav a {
      color: #fff;
      font-size: 25px;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
    }

    nav a:hover {
      transform: scale(1.1);
      color: #1985a1;
    }

    footer {
      background-color: #9999;
      color: #fff;
      padding: 20px;
      text-align: center;
      position: fixed;
      width: 100%;
      bottom: 0;
    }

    .back-btn {
      background-color: #333;
      color: #fff;
      border-radius: 100px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;
    }


.title-btn {
      /*font-family: "FortniteBig", "FortniteJP", "ＭＳ Ｐゴシック", "UD デジタル 教科書体 N-R", "Meiryo UI", "MS UI Gothic", sans-serif;*/
      background-color: #fff;
      color: #333;
      font-size: 150%;
      border-radius: 100px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;
    }

.google-btn {
      /*font-family: "FortniteSmall", "FortniteJP", "ＭＳ Ｐゴシック", "UD デジタル 教科書体 N-R", "Meiryo UI", "MS UI Gothic", sans-serif;*/
      background-color: #333;
      color: #fff;
      font-size: 150%;
      border-radius: 100px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;
    }

.startButton {
      /*font-family: "FortniteSmall", "ＭＳ Ｐゴシック", "UD デジタル 教科書体 N-R", "Meiryo UI", "MS UI Gothic", sans-serif;*/
      background-color: #333;
      color: #fff;
      font-size: 150%;
      border-radius: 100px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;
    }


/* 通知ポップアップのスタイル */
        #notification {
            font-family: "Mochiy Pop One";
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 300px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px; /* 角を丸くする */
            z-index: 900;
            opacity: 0;
            transform: translateX(100px);
            transition: opacity 0.5s ease, transform 0.5s ease; /* フェードインとスライドインのトランジション */
            text-align: center; /* 中央揃え */
        }
        /* バツボタンのスタイル */
        .popup-close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
        }
