@keyframes flash {
  0% {
    background-color: #a8dadc;
  }
  50% {
    background-color: #fca311;
  }
  100% {
    background-color: #a8dadc;
  }
}

.fc-daygrid-day.event-added {
  animation: flash 1s ease-out;
}